<div class="content-connexion">
    <div class="formsConnexions">
        <p class="titre_connexion">INSCRIPTION</p>
        <input class="form-control form-control-lg myInput" type="text" placeholder="Nom d'utilisateur">
        <input class="form-control form-control-lg myInput" type="text" placeholder="Mot de passe">
        <input class="form-control form-control-lg myInput" type="text" placeholder="Confirmer le mot de passe">
        <button type="button" class="button_envoyer_form_connexion">S'inscrire</button>
        <!-- <div class="oublie">
            <p style="font-size: 20px; font-weight: bold; color: #34C924; float: right;">Mot de passe oublié ?</p>
        </div> -->
    </div>

    <div class="optionInscript">
        <p>Vous avez déjà un compte <span style="font-weight: bold;">Malitourist</span> ? <span style="font-size: 30px; font-weight: bold; color: #34C924;" class="testt">Connexion</span></p>
    </div>
   
</div>