
<form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
>
<div class="content-connexion">
<!--   
  <div class="back">
    <button>
      <i class="fa fa-arrow-left iconBack" aria-hidden="true"></i>
    </button>
  </div> -->

    <div class="formsConnexions">
            <p class="titre_connexion">INSCRIPTION</p>
            <input class="form-control form-control-lg myInput" type="text" placeholder="Nom d'utilisateur"
                name="username"
                [(ngModel)]="form.username"
                required
                minlength="3"
                maxlength="20"
                #username="ngModel"
             >
             <div class="alert-danger erreurInscpt" *ngIf="username.errors && f.submitted">
                <div *ngIf="username?.errors?.['required']">Le nom d'utilisateur est obligatoire</div>
                <div *ngIf="username?.errors?.['minlength']"> 
                   
                  Le nom d'utilisateur doit être au moins de 6 caractères
                </div>
                <div *ngIf="username?.errors?.['maxlength']">
                  Le nom d'utilisateur doit comporter au maximum 20 caractères
                </div>
              </div>
            <input class="form-control form-control-lg myInput" type="text" placeholder="Email"
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="form.email"
                required
                email
                #email="ngModel"
             >

             <div class="alert-danger erreurInscpt" *ngIf="email.errors && f.submitted">
                <div *ngIf="email?.errors?.['required']">Email est obligatoire</div>
                <div *ngIf="email?.errors?.['email']">
                  L'e-mail doit être validé
                </div>
              </div>

            <input class="form-control form-control-lg myInput" type="email" placeholder="Mot de passe"
                type="password"
                class="form-control"
                name="password"
                [(ngModel)]="form.password"
                required
                minlength="6"
                #password="ngModel"
             >

             <div class="alert-danger erreurInscpt" *ngIf="password.errors && f.submitted">
                <div *ngIf="password?.errors?.['required']">Mot de passe est obligatoire</div>
                <div *ngIf="password?.errors?.['minlength']">
                  Le mot de passe doit être au moins de 6 caractères
                </div>
              </div>

            <input class="form-control form-control-lg myInput" placeholder="Confirmer le mot de passe"
                type="password"
                class="form-control"
                name="passwordC"
                [(ngModel)]="form.passwordC"
                required
                minlength="6"
                #passwordC="ngModel"
            >

            <div class="alert-danger erreurInscpt" *ngIf="f.submitted && form.password != form.passwordC">
                 
                 <div *ngIf="form.password != form.passwordC">
                    Mot de passe différents
                 </div>

            </div>

            <select style="border-color: #34C924;" class="form-control form-control-lg myInput" *ngIf="showAdminBoard" name="pets" id="pet-select" [(ngModel)]="form.role">
              <option value="Roles" selected>Roles</option>
              <option value="admin">admin</option>
              <option value="user">user</option>
          </select>

            <button type="submit" class="button_envoyer_form_connexion">S'inscrire</button>
        
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Inscription échoué!<br />{{ errorMessage }}
              </div>
        </div>

        <div class="optionInscript">
            <p>Vous avez déjà un compte <span style="font-weight: bold;">Malitourist</span> ? <span style="font-size: 30px; font-weight: bold; color: #34C924;" class="testt"  routerLink="/connexion">Connexion</span></p>
        </div>  

    </div>
    
</form>