<div class="contenuRegion" class="contenuPrincipal">
    <div class="petitMenu">
        <div class="ajouterR">
            <div data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div>Region</div>
        </div>
        <div class="recherches">
            <div class="inputRecherche">
                <input id="searchMobile" type="text">
            </div>
            <div class="searchIcon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
        </div>
    </div>

    <div class="regions">
        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion dt">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter une region</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <!-- <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nom:</label>
            <input type="text" class="form-contro myInput" id="recipient-name">
          </div> -->
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nom:</label>
            <input type="text" class="form-control myInput" id="recipient-name">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre d'habitants:</label>
            <input type="text" class="form-control myInput" id="recipient-name">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Code region:</label>
            <input type="text" class="form-control myInput" id="recipient-name">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Domaine activité:</label>
            <input type="text" class="form-control myInput" id="recipient-name">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Superficie:</label>
            <input type="text" class="form-control myInput" id="recipient-name">
          </div>

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Images:</label>
           <input type="file"  id="files" name="files" multiple class="form-control myInput" >    <!--id="recipient-name" -->
          </div>

          <div class="form-group">
            <label for="message-text" class="col-form-label myInput">Langue majoritaire:</label>
            <textarea class="form-control myInput" id="message-text"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-success">Envoyer</button>
      </div>
    </div>
  </div>
</div>