.contenuPrincipal{
    margin-bottom: 125px;
}
.absenceRegions{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}
li.current{
    color: #34C924!important;
} */
.contenuRegion{
    display: flex;
    flex-direction: column;
}



.voirPlusRegion button{
    border: none;
}

.nomRegion{
    font-weight: bold;
    font-size: 25px;
}
.voirPlusRegion button{
    font-weight: bold;
    border-radius: 15px;
    height: 40px;
    width: 100px;
}

.regions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    width: 100%;
    margin-top: 50px;
    gap: 20px;
    /* margin-right: 15px;
    margin-left: 15px; */
    
    /* grid-template-areas:
    "ajouterR recherches recherches recherches recherches recherches" */
}

.region{
    display: flex;
    /* row-gap: 20px; */
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    /* width: 100%; */
    justify-content: space-between;
    min-height: 300px;
}

.imageRegion img{
    height: 100%;
    width: 230px;
    /* flex-grow: 0.6; */
}

.descriptionsRegion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    text-align: justify;
    height: 100%;
    width: 50%;
    padding: 15px;
}

@media screen and (max-width:850px){
    .regions {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .petitMenu{
        margin-bottom: 70px;
      }
    
}


@media screen and (max-width:767px){
    #searchmobile {
        width: 130px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
      }
      
      #searchmobile:focus {
        width: 100%;
      }

      
      .petitMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* row-gap: 15px; */
        margin-top: -60px;
      }

      .ajouterR{
        justify-content: flex-start;
        gap: 15px;
        cursor: pointer;
      }
      .recherches{
        justify-content: flex-end;
        margin-right: 15px;
      }
}

@media screen and (max-width:555px){
    .inputRecherche input{
        height: 50px!important;
    }
    .searchIcon{
        height: 50px;
    }

    .ajouterR{
        margin: 15px;
        font-size: 20px;
    }

}

@media screen and (max-width:460px){
    /* .imageRegion img{
        height: 100%;
        width: 160px;
        object-fit: fill;
    } */
    .region{
        flex-direction: column;
    }

    .descriptionsRegion{
        width: 100%;
    }
    .imageRegion img{
        height: 100%;
        width: 100%;
        /* flex-grow: 0.6; */
    }

}

