<div class="contenuRegion">
    <div class="petitMenu">
        <div class="ajouterR">
            <div><i class="fa fa-plus" aria-hidden="true"></i></div>
            <div>Region</div>
        </div>
        <div class="recherches">
            <div class="inputRecherche">
                <input id="searchMobile" type="text">
            </div>
            <div class="searchIcon">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            
        </div>
    </div>

    <div class="regions">
        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>

        <div class="region">
            <div class="imageRegion">
                <img src="assets/images/images.jpg">
            </div>
            <div class="descriptionsRegion">
                <div class="nomRegion">
                    Mopti
                </div>
                <div class="descriptionRegion dt">
                    Koulikoro est une ville et une commune urbaine du Mali.
                     Capitale de la région de Koulikoro,
                      Koulikoro est située sur les rives du fleuve Niger.
                </div>
                <div class="voirPlusRegion">
                    <button>Voir plus</button>
                </div>
            </div>
        </div>
    </div>
</div>

