<header class="header">
    <nav class="menu" >
        <div class="logo">
          <!-- <i style="color: white; font-size: 40px;" class="fa fa-user" aria-hidden="true"></i> -->
          <p style="color: white; font-size: 40px;">MaliTourist</p>
        </div>
        <div routerLink="/malitourist/accueil" routerLinkActive="active" class="accueil">
          <p>Accueil</p>
        </div>
        <div routerLink="/malitourist/region" routerLinkActive="active" class="region">
          <p>Region</p>
        </div>
        <div class="profil">
          <button  routerLink="/connexion" *ngIf="userContent.username==null" style="border: none; background-color: #34C924;">
            <i style="color: white; font-size: 40px;" class="fa fa-user" aria-hidden="true"></i>
          </button>
          <button *ngIf="userContent.username != null"  (click)="logout()" style="border: none; background-color: #34C924;">  
            <i style="color: white; font-size: 40px;" class="fa fa-sign-out" aria-hidden="true"></i>
          </button> 
        </div>
        
    </nav>
  </header>
<main class="main">
    <!-- <router-outlet></router-outlet> -->
  
    <!-- Top Navigation Menu -->
  <div class="topnav menu">
    <a  style="color: white; font-size: 20px;" href="#home" class="active">MaliTourist</a>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a routerLink="/accueil" href="#news">Accueil</a>
      <a routerLink="/region" href="#contact">Region</a>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <a  class="lienProfil" style="color: white; font-size: 20px;" href="#about">Profil</a> 

        <button  routerLink="/inscription" *ngIf="userContent.username==null" style="border: none; background-color: #34C924;">
          <i style="color: white; font-size: 40px;" class="fa fa-user" aria-hidden="true"></i>
        </button>
        <button *ngIf="userContent.username != null"  (click)="logout()" style="border: none; background-color: #34C924;">  
          <i style="color: white; font-size: 40px;" class="fa fa-sign-out" aria-hidden="true"></i>
        </button> 

      </div>
       
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
  
    <div class="contenuPrincipal">
      <!-- <app-accueil></app-accueil> -->
      <router-outlet></router-outlet>
  
    </div>
    

  </main>


  <footer class="footer">
    <div class="adresse">
      <p>Bamako/Djicoroni-para</p>
    </div>
    <div class="signature">
      <p>tout droits réservés | 2021</p>
    </div>
    <div class="liens">
      <div>
        <i style="font-size: 30px; font-weight: bold; color: #fff;" class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <div>
        <i style="font-size: 30px; font-weight: bold; color: #fff;" class="fa fa-facebook" aria-hidden="true"></i>
      </div>
      <div>
        <i style="font-size: 30px; font-weight: bold; color: #fff;" class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
  </footer>

  
  
  
  