<div class="petitMenu">
    <!-- <div class="ajouterR">
        <div><i class="fa fa-plus" aria-hidden="true"></i></div>
        <div>Region</div>
    </div> -->
    <div class="recherches">
        <div class="inputRecherche">
            <input id="searchMobile" type="text">
        </div>
        <div class="searchIcon">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        
    </div>
</div>

<div class="contenuDetailR">
    <div class="detailRegions">
        <div class="detailRegion1">
            <img src="assets/images/images.jpg">
        </div>
        <div  class="detailRegion2">
            <p class="texte">
                Mopti est une ville et une commune urbaine de la région du delta 
                intérieur du Niger au Mali. La ville est la capitale du Cercle de 
                Mopti et de la Région de Mopti.
            </p>
        </div>
    </div>

    <div class="detailRegionsDr">
        <div class="detailRegion1Dr">
           <div class="caractRegion">
                <p class="libCaract">Nom: </p>
                <p>Mopti: </p>
           </div>
           <div class="caractRegion">
                <p class="libCaract">Nombre d’habitants: </p>
                <p>10 5140 hbts</p>
           </div>
           <div class="caractRegion">
                <p class="libCaract">Code region</p>
                <p>10 5140 hbts</p>
           </div>
           <div class="caractRegion">
                <p class="libCaract">Nombre d’habitants: </p>
                <p>10 5140 hbts</p>
           </div>
           <div class="caractRegion"> 
                <p class="libCaract">Domaine activité: </p>
                <p>10 5140 hbts</p>
           </div>
           <div class="caractRegion">
                <p class="libCaract">Superficie:  </p>
                <p>142 100 Km²</p>
           </div>
           <div class="caractRegion">
                <p class="libCaract">Langues majoritaire: </p>
                <p>Bambara</p>
           </div>
           <div class="caractRegion">
                <button>Modifier</button>
                <button>Suprimer</button>
           </div>
        </div>
        <div class="detailRegion2Dr">
            <img src="assets/images/images.jpg">
        </div>
    </div>

    <div  class="commentaires">

    </div>
</div>