/* You can add global styles to this file, and also import other style files */
.contenuPrincipal{
    position: relative;
    top: 50px;
    right: 0;
    left: 0;
    margin-bottom: 70px;
    margin-top: -23.5px;
}
body{
    margin: 0;
    padding: 0;
    /* position: relative; */

}


.petitMenu{
    height: 70px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "ajouterR recherches recherches recherches recherches recherches";
    margin-top: 40px;

}

.ajouterR{
    grid-area: ajouterR;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    gap: 50px;

}

.recherches{
    grid-area: recherches;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}




.inputRecherche{
    background: #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    display: block;
    width: 50%;

}
.inputRecherche input{
    height: 70px!important;
    border: none;
   width: 100%;
}

.searchIcon{
    background:#34C924;
    color: #FFFFFF;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 70px;
    width: 100px;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.myInput:focus{
    outline: none !important;
    border:1px solid #34C924;
}


@media screen and (max-width:850px){
    .petitMenu{
        margin-bottom: 50px;
      }
    
}

@media screen and (max-width:767px){      
      .petitMenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* row-gap: 15px; */
        margin-top: -50px;
      }

      .ajouterR{
        justify-content: flex-start;
        gap: 15px;
      }
      .recherches{
        justify-content: flex-end;
        margin-right: 15px;
      }

}

@media screen and (max-width:555px){
    .petitMenu{
        margin-top: 0;
      }

    .inputRecherche input{
        height: 50px!important;
    }

    .searchIcon{
        height: 50px;
    }

    .ajouterR{
        margin: 15px;
        font-size: 20px;
    }

}


